<ion-header>
  <ion-toolbar>
    <ion-title>Buscar por matérias</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content padding>
      <ion-list>
      <ion-item lines="full">
       <ion-label (click)="buscar()">Língua Portuguesa</ion-label>
      </ion-item>

      <ion-item lines="full">
      <ion-label (click)="buscar1()">Artes</ion-label>
      </ion-item>

      <ion-item lines="full">
        <ion-label (click)="buscar2()">Inglês</ion-label>
        </ion-item>

        <ion-item lines="full">
       <ion-label (click)="buscar3()">Espanhol</ion-label>
       </ion-item>

       <ion-item lines="full">
       <ion-label (click)="buscar4()">História</ion-label>
       </ion-item>

       <ion-item lines="full">
       <ion-label (click)="buscar5()">Geografia</ion-label>
       </ion-item>

       <ion-item lines="full">
       <ion-label (click)="buscar6()">Biologia</ion-label>
       </ion-item>

       <ion-item lines="full">
       <ion-label (click)="buscar7()">Filosofia</ion-label>
       </ion-item>
       
       <ion-item lines="full">
       <ion-label (click)="buscar8()">Sociologia</ion-label>
       </ion-item>
       
       <ion-item lines="full">
       <ion-label (click)="buscar9()">Matemática</ion-label>
       </ion-item> 
       
       <ion-item lines="full">
       <ion-label (click)="buscar10()">Física</ion-label>
       </ion-item>
       
       <ion-item lines="full">
       <ion-label (click)="buscar11()">Química</ion-label>
       </ion-item>
       
       
    </ion-list>
</ion-content>
