<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="{{picture}}" class="perfil" />

    </ion-card-header>

    <ion-card-header>

      <ion-card-title>{{perfil.nome}}</ion-card-title>
      <ion-card-subtitle>{{perfil.sobrenome}}</ion-card-subtitle>
      <ion-card-subtitle>{{perfil.email}}</ion-card-subtitle>
      <ion-card-subtitle>{{perfil.cel}}</ion-card-subtitle>
      <ion-card-subtitle>{{perfil.cidade}}</ion-card-subtitle>

    </ion-card-header>

  </ion-card>
  <ion-card-content>

    <ion-row align-items-center>
      <ion-col>

        <ion-button color="purple" fill="outline" (click)="atualizaP()">
          <ion-icon name="contact"></ion-icon> Editar Perfil </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="purple" fill="outline" (click)="cancelar()">
          <ion-icon name="log-out"></ion-icon> Logoff </ion-button>
      </ion-col>
      <ion-col center>
        <ion-button color="purple" fill="outline" (click)="localization()">
          <ion-icon name="localizer"></ion-icon> Localização </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>

</ion-content>