<ion-header>
  <ion-toolbar>
    <ion-title>fisica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-toolbar>
      <ion-searchbar placeholder="Buscar por uma matéria...">
      </ion-searchbar>
    </ion-toolbar>
    
    <ion-list>
      <ion-item lines="full">
        <ion-label>Unidades de tempo, comprimento, área, volume e massa</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Vetores: Adição, Subtração e Multiplicação</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Análise Dimensional - Dimensão das Grandezas</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Cinemática - Unidades de Velocidade</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Vazão e Velocidade</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Lançamento oblíquo</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Leis de Newton</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Forças de atrito</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Energia Cinética</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Potência e velocidade</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Colisões - Tipos de Colisões</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Leis de Kepler</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Lei da gravitação universal</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Lei de Stevin</ion-label>
      </ion-item>
  
    </ion-list>
  
  </ion-content>