<ion-header>
  <ion-toolbar>
    <ion-title>Biologia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar por uma matéria...">
    </ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-item lines="full">
      <ion-icon name="copy"></ion-icon>
      <ion-label (click)="form6()">Criar Atividade</ion-label>
    </ion-item>


    <ion-item lines="full">
      <ion-label>Respiração Celular</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Fagocitose e Pinocitose</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Mitose</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Meiose</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Sistema Nervoso: Central, Periférico, Autônomo</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Alterações do Sistema Nervoso</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Sistema Imunitário</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Homeostase</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Glândulas anexas do sistema digestivo</ion-label>
    </ion-item>


  </ion-list>

</ion-content>