<ion-header>
  <ion-toolbar>
    <ion-title>quimica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-toolbar>
      <ion-searchbar placeholder="Buscar por uma matéria...">
      </ion-searchbar>
    </ion-toolbar>
    
    <ion-list>
      <ion-item lines="full">
        <ion-label>Estados físicos da matéria</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Densidade</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Substâncias Químicas</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Ar atmosférico</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Atomística</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Distribuição eletrônica</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Classificação periódica dos elementos</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Ligações Químicas</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Ligação Covalente, Molecular ou Homopolar</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Geometria Molecular</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Polaridade das Moléculas</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Forças Intermoleculares</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Ligação Metálica</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Massas Atômicas - Massas Moleculares - Mol</ion-label>
      </ion-item>
  
    </ion-list>
  
  </ion-content>