<ion-header>
  <ion-toolbar>
    <ion-title>Matematica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar por uma matéria...">
    </ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-item lines="full">
      <ion-icon name="copy"></ion-icon>
      <ion-label (click)="form9()">Criar Atividade</ion-label>
    </ion-item>


    <ion-item lines="full">
      <ion-label>Potências</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Raízes</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Potência com Expoente Fracionário</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Fatoração</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Equações</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Inequações</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Função Quadrática</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Função Inversa</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Funções Polinomiais</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Números Complexos e Imaginários</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Raízes Complexas de Um Polinômio</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Circunferências</ion-label>
    </ion-item>

  </ion-list>



</ion-content>