<ion-header>
  <ion-toolbar>
    <ion-title>Artes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar por uma matéria...">
    </ion-searchbar>
  </ion-toolbar>

  

  <ion-list>
  <ion-item lines="full">
  <ion-icon name="copy"></ion-icon>
  <ion-label (click)="form1()">Criar Atividade</ion-label>
  </ion-item>



    <ion-item lines="full">
      <ion-label>Renascimento</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Artes cênicas</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Arte Rupestre</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Arte Egípcia</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Arte Grega</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Arte Romana</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Impressionismo</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Abstracionismo</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Surrealismo</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Barroco</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Romantismo</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Cubismo</ion-label>
    </ion-item>

  </ion-list>
</ion-content>