<ion-header>
  <ion-toolbar>
    <ion-title>Sociologia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-toolbar>
      <ion-searchbar placeholder="Buscar por uma matéria...">
      </ion-searchbar>
    </ion-toolbar>
  
    <ion-list>
      <ion-item lines="full">
        <ion-icon name="copy"></ion-icon>
        <ion-label (click)="form8()">Criar Atividade</ion-label>
      </ion-item>
  
  
      <ion-item lines="full">
        <ion-label>Processos Sociais</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>A Sociedade</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Grupos Sociais</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>A base econômica da sociedade</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Cidadania brasileira</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>A Cultura no Brasil</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Organização do Estado Brasileiro</ion-label>
      </ion-item>

  
    </ion-list>
  

</ion-content>
