
/* Esconde o input */
input[type='file'] {
    display: none
  }
  
  /* Aparência que terá o seletor de arquivo */
  .perfilx {

    --background: url(../../assets/imgs/person.png) no-repeat;
    /* --background: url(../../assets/imgs/person.png) 0 0/100% 100% no-repeat;  */
  }

  .perfil{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.tags{
text-align: right;
}

.ion-slide{
  display: block;
  
}