<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <img src="{{picture}}" class="perfil" />Inicio
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon src="{{picture}}" class="perfil" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-slides pager="true" [options]="slideOptsOne ">
        <ion-slide *ngFor="let slide of slides">
          <div>
            <img [src]="slide.img">
          </div>
          <div>
          </div>
        </ion-slide>
      </ion-slides>

  <ion-card-content class="cad bold">
    Comece a utilizar nosso aplicativo para obter melhor experiência
    abaixo tem a barra de navegação rápida para que você possa ir direto ao que deseja.
  </ion-card-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Home</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="speakers" (click)="caminhochat()">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Questões</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>