<ion-header>
  <ion-toolbar>
    <ion-title>Língua Portuguesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
    <ion-toolbar>
    <ion-searchbar placeholder="Buscar por uma matéria..." #textoBusca  > 
    </ion-searchbar>
   </ion-toolbar>

   <ion-list>
    <ion-item lines="full">
    <ion-icon name="copy"></ion-icon>
    <ion-label (click)="form()">Criar Atividade</ion-label>
    </ion-item>

    <ion-item lines="full">
     <ion-label (click)="conotacao()">Conotação e Denotação</ion-label>
    </ion-item>

    <ion-item lines="full">
    <ion-label>Ortoépia</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Metafonia e Prosódia</ion-label>
      </ion-item>

      <ion-item lines="full">
     <ion-label>Fonema e Letra</ion-label>
     </ion-item>

     <ion-item lines="full">
     <ion-label>Encontro vocálico e consonantal</ion-label>
     </ion-item>

     <ion-item lines="full">
     <ion-label>Gêneros literários</ion-label>
     </ion-item>

     <ion-item lines="full">
     <ion-label>Metrificação e Versificação</ion-label>
     </ion-item>

     <ion-item lines="full">
     <ion-label>Análise literária</ion-label>
     </ion-item>
     
     <ion-item lines="full">
     <ion-label>Discurso direto e indireto</ion-label>
     </ion-item>
     
     <ion-item lines="full">
     <ion-label>Mecanismos coesivos</ion-label>
     </ion-item> 
     
     <ion-item lines="full">
     <ion-label>Fonética e fonologia</ion-label>
     </ion-item>
     
     <ion-item lines="full">
     <ion-label>Morfologia</ion-label>
     </ion-item>
     
     <ion-item lines="full">
      <ion-label>Sintaxe</ion-label>
      </ion-item>
     
  </ion-list>
</ion-content>

