<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ListaDeClientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let cliente of listaDeClientes">
    <ion-row>
      <ion-col size="1">
        <div class="nomestopo">
          <img src="{{cliente.imagem}}" class="perfil" />


        </div>
      </ion-col>
      <ion-col size="9">
          <ion-card-title>{{cliente.nome}}</ion-card-title>
          <ion-card-subtitle>{{cliente.cel}}</ion-card-subtitle>

      </ion-col>
      <ion-col size="2">
        <div class="iconstopo">
          <ion-icon name="share-alt" size="large" (click)="viewCliente(cliente)"></ion-icon>

          <ion-icon name="trash" size="large" (click)="remove(cliente)"></ion-icon>

          <ion-icon type="submmit" name="paper-plane" size="large" (click)="encaminhar(cliente.id,cliente.nome)"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>