<ion-header>
  <ion-toolbar>
    <ion-title>Historia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-toolbar>
      <ion-searchbar placeholder="Buscar por uma matéria...">
      </ion-searchbar>
    </ion-toolbar>
  
    <ion-list>
        <ion-item lines="full">
        <ion-icon name="copy"></ion-icon>
        <ion-label (click)="form4()">Criar Atividade</ion-label>
        </ion-item>


      <ion-item lines="full">
        <ion-label>Pré-História</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Civilizações Antigas</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Grécia</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Roma Antiga</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Idade Média</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Monarquia do Reino Unido</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Revoluções Industriais</ion-label>
      </ion-item>
  
      
    </ion-list>
  </ion-content>