<ion-header>
  <ion-toolbar>
    <ion-title>Filosofia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar por uma matéria...">
    </ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-item lines="full">
      <ion-icon name="copy"></ion-icon>
      <ion-label (click)="form7()">Criar Atividade</ion-label>
    </ion-item>


    <ion-item lines="full">
      <ion-label>Sócrates</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Platão</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Aristóteles: a ética e a política</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Filosofia Medieval e o Cristianismo: Tomás de Aquino</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Filosofia do Renascimento</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Nicolau Maquiavel</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Empirismo</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Racionalismo</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>René Descartes</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Iluminismo</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>O Romantismo e o Idealismo alemão</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>O Positivismo de Auguste Comte</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Immanuel Kant</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>O Existencialismo</ion-label>
    </ion-item>

  </ion-list>

</ion-content>