/* Esconde o input */
input[type='file'] {
    display: none
  }
  
  /* Aparência que terá o seletor de arquivo */
  .perfilx {

    --background: url(../../assets/imgs/person.png) no-repeat;
    /* --background: url(../../assets/imgs/person.png) 0 0/100% 100% no-repeat;  */
  }

  .perfil{
    height: 70px;
    width: 70px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: auto;
    border-radius: 50%;
}

.tags{
text-align: center;
}