<ion-header>
  <ion-toolbar>
    <ion-title>Espanhol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-toolbar>
      <ion-searchbar placeholder="Buscar por uma matéria...">
      </ion-searchbar>
    </ion-toolbar>
  

    <ion-list>
    <ion-item lines="full">
    <ion-icon name="copy"></ion-icon>
    <ion-label (click)="form3()">Criar Atividade</ion-label>
    </ion-item>


      <ion-item lines="full">
        <ion-label>Artigos - Definidos e Indefinidos</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Verbos</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Advérbios</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Apócope</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Pretérito Imperfeito</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Expressões Comparativas</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Presente do Subjuntivo</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Heterotônicos e Heterosemânticos</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Preposições</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Pronomes</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Interjeições</ion-label>
      </ion-item>
  

    </ion-list>
  </ion-content>