<ion-header>
  <ion-toolbar>
    <ion-title>Geografia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar por uma matéria...">
    </ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-item lines="full">
      <ion-icon name="copy"></ion-icon>
      <ion-label (click)="form5()">Criar Atividade</ion-label>
    </ion-item>


    <ion-item lines="full">
      <ion-label>Urbanização</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Agricultura</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Sistemas Econômicos</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Questões ambientais</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Agropecuária</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Industrialização</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Migrações</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Comércio</ion-label>
    </ion-item>


  </ion-list>

</ion-content>