<ion-header>
  <ion-toolbar>
    <ion-title>Inglês</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-toolbar>
      <ion-searchbar placeholder="Buscar por uma matéria...">
      </ion-searchbar>
    </ion-toolbar>
  
    
  <ion-list>

      <ion-item lines="full">
      <ion-icon name="copy"></ion-icon>
      <ion-label (click)="form2()">Criar Atividade</ion-label>
      </ion-item>



      <ion-item lines="full">
        <ion-label>Presente Continuo</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Conjunções</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Advérbios</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Presente Simples</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Adjetivos possessivos</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Demonstrativos - Singular e Plural</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Passado Simples</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Verbos - Regulares e irregulares</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Preposições</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Barroco</ion-label>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label>Condicionais</ion-label>
      </ion-item>
  

    </ion-list>
  </ion-content>